@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

.cardBody {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

CardTitle {
    color: #333333;
}

CardText {
    color: #333333;
}

.footer{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}