@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* style by classes javascript by ids ids get looked at first then classes this is why we use */

#jumbo {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center; 
  background-color: grey;
  height: 600px;
  width: 100%;
  padding: 10px;
}

.header {
  text-align: left;
  color:#333333;
}

.pheader {
  text-align: left;
  color: #333333;
}

.col {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  /* padding: 10px; */
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

#nav {
  justify-content: center;
}

span {
  font-size: 70px;
  color: #0E0301;
  font-family: 'Montserrat', sans-serif;

}