@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  text-align: center;
}

.row {
  text-align: center;
}

span {
  font-size: 70px;
}

#akpan {
  font-family: 'Indie Flower', cursive;
}

#Navbar {
  background-color: #222;
}